{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; color:black; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
</style> 
{% endblock %}

{% block content %}
<main role="main">
    <div class="container marketing top-fit">
      <div class="welcome">
        <h1 class="dancing-font black-text">Welcome to The Wolfe Emporium!</h1>
        <p class="turret-font black-text">Your one stop shop for all Gene Wolfe books.</p>
      </div>
      <div class="row hero">
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}spines.webp' alt="Collection of Wolfe books" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
  
          <h2 class="medieval-font">Browse Our Books</h2>
          <p class="turret-font">Every major Gene Wolfe publication available at great prices!</p>
          <p><a class="btn btn-secondary" href="{% url 'books' %}">View details »</a></p>
        </div>
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}gene_wolfe.webp' alt="Stylised drawing of Wolfe" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>

          <h2 class="medieval-font">Our Mission Satement</h2>
          <p class="turret-font">Why we love Gene Wolfe, and you should too!</p>
          <p><a class="btn btn-secondary" href="{% url 'mission' %}">View details »</a></p>
        </div>
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}partner-sev.webp' alt="Depiction of Sevarian and Thecla" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          
          <h2 class="medieval-font">Partner With Us</h2>
          <p class="turret-font">If you're a bookstore looking to upgrade your Wolfe section, contact us here!</p>
          <p><a class="btn btn-secondary" href="{% url 'partner_contact' %}">View details »</a></p>
        </div>
      </div>
  
      <hr>
  
      <div class="row featurette featurette-frame">
        <div class="col-md-7">
          <h2 class="black-text medieval-font">We offer a set pricing structure <span class="white-text turret-font">With free delivery on all orders!</span></h2>
          <p class="lead black-text">What better way to spread the joy of Wolfe than with set prices that won't break the bank. Every novel for 7.99! Every Collection for 8.99! Every Omnibus for 9.99! And don't forget, we offer free delivery on all orders!</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}prices.webp" alt="The Knight posing before Wolfe books" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette featurette-frame">
        <div class="col-md-7 order-md-2">
          <h2 class="black-text medieval-font">We sell new printings of Wolfe's classics. <span class="white-text turret-font">And there's plenty more of where that came from!</span></h2>
          <p class="lead black-text">We have contracted deals with the Wolfe estate to print his entire bibliography. Order from us and you are guaranteed a new printing; no more second-hand yellowed pages. Enjoy Wolfe as it was meant to be enjoyed; fresh off the presses!</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}condition.webp" alt="Spine photo of Shadow & Claw" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette featurette-frame">
        <div class="col-md-7">
          <h2 class="black-text medieval-font">We aim to promote Gene Wolfe's work <span class="white-text turret-font">And help cement his legacy</span></h2>
          <p class="lead black-text">Despite a critically acclaimed back catalogue, Gene Wolfe is not considered a household name in either fantasy or sci-fi. We hope to amend that, by promoting some of the greatest literature to ever be penned. See our mission statement for more information.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}gene_legacy.webp" alt="Searian posing" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
  
        </div>
      </div>
      <hr>
    </div>
  
    <footer class="container btt-btn">
      <a href="https://www.facebook.com/profile.php?id=61571933733644" rel="external" target="_blank" aria-label="opens facebook page in new tab">
        <i class="fa-brands fa-facebook" aria-hidden="true">Join us on Facebook</i>
      </a>
      <p class="float-right"><a class="btt-btn" href="#">Back to top</a></p>
      <div id="mc_embed_shell">
  <div id="mc_embed_signup">
      <form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=b4e270af3f2cdba032b460acf&amp;id=6cd9d1a846&amp;f_id=00d0c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
          <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
          </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_b4e270af3f2cdba032b460acf_6cd9d1a846" tabindex="-1" value="">
      </div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <p style="margin: 0px auto;"><a href="http://eepurl.com/i7RYfk" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
              </div>
          </div>
      </div>
  </form>
  </div>
</div>  
      <p>© AdamFcode</p>
    </footer>
  </main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script
      type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
{% endblock %}