{% extends "base.html" %}
{% load static %}

{% block content %}
<main role="main">
    <div class="container marketing top-fit">
      <div class="welcome">
        <h1 class="dancing-font black-text">Welcome to The Wolfe Emporium!</h1>
        <p class="turret-font black-text">Your one stop shop for all Gene Wolfe books.</p>
      </div>
      <div class="row hero">
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}spines.webp' alt="Collection of Wolfe books" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
  
          <h2 class="medieval-font">Browse Our Books</h2>
          <p class="turret-font">Every major Gene Wolfe publication available at great prices!</p>
          <p><a class="btn btn-secondary" href="{% url 'books' %}">View details »</a></p>
        </div>
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}gene_wolfe.webp' alt="Stylised drawing of Wolfe" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>

          <h2 class="medieval-font">Our Mission Satement</h2>
          <p class="turret-font">Why we love Gene Wolfe, and you should too!</p>
          <p><a class="btn btn-secondary" href="{% url 'mission' %}">View details »</a></p>
        </div>
        <div class="col-lg-4 hero-slice">
          <img class="bd-placeholder-img rounded-circle" src='{{ MEDIA_URL }}partner-sev.webp' alt="Depiction of Sevarian and Thecla" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
          
          <h2 class="medieval-font">Partner With Us</h2>
          <p class="turret-font">If you're a bookstore looking to upgrade your Wolfe section, contact us here!</p>
          <p><a class="btn btn-secondary" href="{% url 'partner_contact' %}">View details »</a></p>
        </div>
      </div>
  
      <hr>
  
      <div class="row featurette featurette-frame">
        <div class="col-md-7">
          <h2 class="black-text medieval-font">We offer a set pricing structure <span class="white-text turret-font">With free delivery on all orders!</span></h2>
          <p class="lead black-text">What better way to spread the joy of Wolfe than with set prices that won't break the bank. Every novel for 7.99! Every Collection for 8.99! Every Omnibus for 9.99! And don't forget, we offer free delivery on all orders!</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}prices.webp" alt="The Knight posing before Wolfe books" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette featurette-frame">
        <div class="col-md-7 order-md-2">
          <h2 class="black-text medieval-font">We sell new printings of Wolfe's classics. <span class="white-text turret-font">And there's plenty more of where that came from!</span></h2>
          <p class="lead black-text">We have contracted deals with the Wolfe estate to print his entire bibliography. Order from us and you are guaranteed a new printing; no more second-hand yellowed pages. Enjoy Wolfe as it was meant to be enjoyed; fresh off the presses!</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}condition.webp" alt="Spine photo of Shadow & Claw" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette featurette-frame">
        <div class="col-md-7">
          <h2 class="black-text medieval-font">We aim to promote Gene Wolfe's work <span class="white-text turret-font">And help cement his legacy</span></h2>
          <p class="lead black-text">Despite a critically acclaimed back catalogue, Gene Wolfe is not considered a household name in either fantasy or sci-fi. We hope to amend that, by promoting some of the greatest literature to ever be penned. See our mission statement for more information.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}gene_legacy.webp" alt="Searian posing" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></svg>
  
        </div>
      </div>
      <hr>
    </div>
  
    <footer class="container btt-btn">
      <p class="float-right"><a class="btt-btn" href="#">Back to top</a></p>
      <p>© AdamFcode</p>
    </footer>
  </main>
{% endblock %}