{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="black-text top-fit">{% trans "Sign Up" %}</h1>

<p class="black-text">{% blocktrans %}Already have an account? Then please <a class="white-text" href="{{ login_url }}">SIGN IN</a>.{% endblocktrans %}</p>

<form class="signup welcome black-text" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<footer class="container btt-btn top-fit">
  <p class="float-right"><a class="btt-btn" href="#">Back to top</a></p>
  <p>© AdamFcode</p>
</footer>

{% endblock %}
