{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!--Meta's loaded in block-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A reasonably priced bookstore dedicated to award-winning fantasy and sci-fi author Gene Wolfe, offering free delivery and partnership opportunities for booksellers.">
    <meta name="keywords" content="Books, Gene Wolfe, Prices, Free Delivery, Partnership, Fiction, Short Stories, Omnibuses, Collections, Emporium, Pringles Designer, Severian, BOTNS, Wizard Knight, Litany Sun, Cerberus, Promotion, Fantasy, Sci-Fi, Literature, Booksellers, Award,">
    {% endblock %}

    {% block extra_meta %}
    <!--Extra Meta Content-->
    {% endblock %}

    {% block corecss %}
    <!-- CSS loaded in block-->
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--Preconnects-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://ka-f.fontawesome.com">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/7959bd00bf.js" crossorigin="anonymous" defer></script>
    {% endblock %}

    {% block extra_css %}
    <!--Extra CSS content-->
    {% endblock %}

    {% block corejs %}
    <!--JS loaded in block-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/" defer></script>
    {% endblock %}

    {% block extra_js %}
    <!--Extra JS content-->
    {% endblock %}

    <title>The Wolfe Emporium {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="row d-lg-flex seek">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0 nav-white">The <i>Wolfe</i> Emporium</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'books' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append search-icon">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-label="account">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg nav-white acc-btn"></i></div>
                                <p class="my-0 nav-white acc-btn">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg nav-white"></i></div>
                                <p class="my-0 nav-white">
                                    {% if total %}
                                    ${{ total |floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar-expand-md navbar-dark bg-dark">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active nav-white">
                        <a class="nav-link " href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item nav-white">
                        <div class="nav-item dropdown" data-toggle="dropdown"><a
                                class="nav-link nav-white" href="{% url 'books' %}" aria-label="books">Books</a>
                        </div>
                        <div class="dropdown-menu">
                            <a href="{% url 'books' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                            <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                            <a href="{% url 'books' %}?sort=category&direction=asc" class="dropdown-item ">By
                                Category</a>
                            <a href="{% url 'books' %}?sort=published&direction=desc" class="dropdown-item ">By Date
                                Published</a>
                        </div>
                    </li>
                    <li class="nav-item nav-white">
                        <a class="nav-link nav-white" href="{% url 'partner_contact' %}">Contact</a>
                    </li>
                    <li class="nav-item nav-white">
                        <a class="nav-link nav-white" href="{% url 'mission' %}">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-dark text-white">
                <h4 class="logo-font my-1">Free delivery on all orders!</h4>
            </div>
        </div>
    </header>

    <!--Div for displaying messages if necessary-->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
        {% else %}
            {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
    {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    <!--Block for add-on Headers-->
    {% endblock %}

    {% block content %}
    <!--Main Page content loaded in block-->
    {% endblock %}

    {% block postloadjs %}
    <!--Block for JS loaded at end of body-->
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>