{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container marketing top-fit">
    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading black-text text-center"> {{ book.name }} <span class="black-text">{{ book.published }}</span>
            </h2>
            <h3>
                {% if book.category %}
                <p class="card-body pb-0">
                    <a class="black-text" href="{% url 'books' %}?category={{ book.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
            </h3>
            <h4 class="black-text hero-slice text-center">
                <p class="lead">{{ book.description }}</p>
            </h4>
            <h4 class="black-text text-center">${{ book.price }}</h4>

            <form class="form text-center" action="{% url 'add_to_cart' book.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <h4 class="mt-3 text-left black-text text-center"><strong>Add to cart:</strong></h4>
                        <div class="form-group w-50 input-center">
                            <label for="id_qty_{{ book.id }}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" 
                                        data-item_id="{{ book.id }}" id="decrement-qty_{{ book.id }}"
                                        aria-label="Decrease Quantity">
                                        <span class="quant-amend">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>                                
                                    <input class="form-control qty_input" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ book.id }}"
                                    id="id_qty_{{ book.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ book.id }}" id="increment-qty_{{ book.id }}"
                                        aria-label="Increase Quantity">
                                        <span class="quant-amend">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <input type="submit" class="text-uppercase" value="Add to Cart">
                        <hr>
                        <a href="{% url 'books' %}" class="keep-shop">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <div class="col-md-5 mobile-hide">
            <img class="" src="{{ book.image.url }}" alt="{{ book.name }}" width="400" height="500">
        </div>
    </div>
    <hr>

   <!-- FOOTER -->
    <footer class="container btt-btn">
        <p class="float-right"><a class="btt-btn" href="#">Back to top</a></p>
        <p>© AdamFcode</p>
    </footer>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
{% endblock %}