{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div">
                <hr>
                <h2>Join us as a Partner!</h2>
                <h5>Contact us for details:</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div>
                <form method="POST" action="{% url 'partner_contact' %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a href="{% url 'books' %}">Cancel</a>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}